// Colors
$green-dark: #2C9585;
$green-light: #92CDB6;
$yellow-light: '#F7F5D1';
$yellow-medium: '#F6E7AE';
$yellow-dark: '#C9B675';
$brown: '#978468';

$white: '#FFF';
$black: '#000';
$gray: '#CCC';
$light-gray: '#EEE';
$dark-gray: '#AAA';

// Sizes
$small-xs: 320px;
$small: 480px;
$medium: 768px;
$large: 992px;
$large-xs: 1200px;




